name: Generate and Store Let's Encrypt Certificat

on:
  workflow_dispatch:
    inputs:
      domain:
        description: "Domain name (ex: mysubdomain.sharkatlas.com)"
        required: true
        type: string

permissions:
  id-token: write
  contents: read

jobs:
  generate-cert-job:
    runs-on: ubuntu-latest
    environment: prod
    env:
      CF_TOKEN: ${{ secrets.CF_TOKEN }}
      AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
      AZURE_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
      AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
      AZURE_KEYVAULT_NAME: ${{ secrets.AZURE_KEYVAULT_NAME }}

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Tools
        run: |
          sudo apt update
          sudo apt install -y curl openssl socat
          curl -sL https://aka.ms/InstallAzureCLIDeb | sudo bash

      - name: Azure Login (OIDC)
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          allow-no-subscriptions: true

      - name: Generate certificat
        run: bash scripts/generate_cert.sh "${{ github.event.inputs.domain }}"

      - name: Check and upload to Azure Key Vault
        run: |
          DOMAIN="${{ github.event.inputs.domain }}"
          CERT_NAME=$(echo "$DOMAIN" | sed 's/\./-/g')
          bash scripts/upload_to_kv.sh "$DOMAIN" "$AZURE_KEYVAULT_NAME" "$CERT_NAME"

